<%= render 'header' %>
  <% if @resource.present? %>
    <div class="container">
    <% @resource.each_slice(3) do |resources| %>
    <div class="row content">
      <% resources.each do |resource| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-image">
            <%= image_tag resource.images.url() %>
            <span class="card-title"><%= link_to resource.title, resource %></span>
          </div>
          <!--<div class="card-content">
            <h4><%= link_to resource.title, resource %></h4>
          </div>-->
          <div class="card-action">
            <p>Submited <%= time_ago_in_words(resource.created_at - 1) %> in <%= link_to resource.category.category_name , category_path(resource.category.slug) %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
    <div class="text-center">
      <%= paginate @resource %>
    </div>
  </div>
  <% else %>
    <div class="container">
    <div class="alert alert-success text-center" role="alert">
      <b>Oops !</b> There are no resources containing the term(s) <b><%= params[:search] %></b>.
    </div>
    </div>
  <% end %>
  <footer class="footer">
    <div class="container">
      <p class="text-muted"> Pixfuel Copyright 2015.</p>
    </div>
  </footer>