<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Pixfuel</p>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => 'login' }) do |f| %>
                <%= f.text_field :email, autofocus: true , placeholder: "Username" %>
                <%= f.password_field :password, autocomplete: "off" , placeholder: "Password"%>
                <%= f.submit "Sign in" , class: "btn btn-primary btn-sm" %>
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                  <% if devise_mapping.rememberable? -%>
                                  <%= f.check_box :remember_me %>
                                  <%= f.label :remember_me %>
                                  <% end -%>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!--<%= render "devise/shared/links" %>-->
