<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>
    
      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <br>
  <%= f.label :category_id %><br>
  <%= f.select :category_id, options_for_select(@categories.collect{ |u| [u.category_name, u.id] },{prompt: 'Select Person'})%>
  <br>
  <br>
  <%= f.label :url_link %><br>
  <%= f.text_area :url_link %><br>
  <br>
  <%= f.label :descriptions %><br>
  <%= f.text_area :descriptions %><br>
  <br>
  <%= f.file_field :images %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
