	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      </button>
	      <%= link_to "", root_path , {class: "navbar-brand" } %>
	    </div>
	    <div id="navbar" class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
	        <% @categories.each do |category| %>
	        <li><%= link_to category.category_name , category %></li>
	        <% end %>
	      </ul>
	      <ul class="nav navbar-nav-right col-md-4">
      		<div id="custom-search-input">
          	<%= form_tag(root_path, :method => "get", id: "search-form") do %>
          	<div class="input-group">
          	<%= text_field_tag :search, params[:search], placeholder: "Search Posts" , class: "form-control input-default" %>
                  	<span class="input-group-btn">
                  	<%= button_tag(type: 'submit', class: 'btn btn-info btn-default' ) do %>
                  	<%= content_tag(:i, '', class: 'glyphicon glyphicon-search') %>
                  	<% end %>
             		</span>
          	</div>
          	<% end %>
      		</div>
      	   </ul>
	      </div><!--/.nav-collapse -->
	    </div>
	  </nav>
	  <div class="px-header">
	    <div class="container center">
	      <h3><strong>All Resources</strong> <small>: : Pixfuel is providing quality web and graphic resources. Take a look all web and graphic design resources.</small></h3>
	    </div>
	  </div>