<%= render 'header' %>
<!-- Begin page content -->
<div class="container">
	<div class="col-md-12">
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
					<%= image_tag @resource.images.url(:original) %>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default right-content">
				<div class="panel-body desc-content">
					<h3><strong><%= @resource.title %></strong></h3>
					<small>Submited <%= time_ago_in_words(@resource.created_at - 1) %></small>
					<div class="pull-right">
						<span class="glyphicon glyphicon-eye-open"></span> <%= "#{@resource.impressionist_count(:filter=>:session_hash)}" %>
					</div>
					<hr/>
					<p><%= @resource.descriptions %></p>
				</div>
				<div class="panel-footer">
					<%= button_to @resource.url_link, {:class => "btn btn-success",:method => :get} do %>
					Get Resource <span class="glyphicon glyphicon-download-alt"></span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-md-12">
		<div class="headrelatedResource">
			<h3>Related Resources</h3>
		</div>
		<% @relatedresource.each do |relresource| %>
		<div class="col-md-4">
			<div class="card">
				<div class="card-image">
					<%= image_tag relresource.images.url() %>
					<span class="card-title"><%= link_to relresource.title, relresource %></span>
				</div>
				<div class="card-action">
					<p>Submited <%= time_ago_in_words(relresource.created_at - 1) %> in <%= link_to relresource.category.category_name , category_path(relresource.category_id) %></p>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<p class="text-muted"> Pixfuel Copyright 2015.</p>
	</div>
</footer>