
// SCSS
$blueblack: #212c3a;
$gray : #ccc;
$white : #ffffff;
$bgwhite : #f0f4f5;
$green : #37b680;
$minHeightNavbar : 60px;

$pxHeaderHeigt : 100px;

// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: $bgwhite;
}
img {
max-width:100%;
height:auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 30px;
}
.container .text-muted {
  margin: 20px 0;
  color: $gray;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.panel-body small{
  color: $gray;
  font-size: 1em;
}

.panel-footer{
  bottom:0;
}

.right-content{
  height: 340px;
}

.desc-content{
  position: relative;
  height: 282px;
}

.navbar {
position: relative;
z-index: 1000;
min-height: $minHeightNavbar;
margin: 0 0 ;
}

.navbar-header , .navbar-nav {
  height: 100px;
}

.navbar-brand {
  position: relative;
  padding:5px;
  width: 190px;
  height: 100px;
  background: url(image_path('logo_pix.png')) no-repeat center;
}

.navbar-nav {
  float: left;
  margin-left: 20px;
}

.navbar-nav-right{
  margin-top: 30px;
  float: right;
}

.navbar-nav > li {
  height: 100%;
}

.navbar-nav li a{
  font-size: 13px;
  margin-top: 25px;
  vertical-align: 20px;
  text-transform:capitalize;
  letter-spacing: 0.1em;
}

.navbar-default .navbar-nav > li > a {
  color: $blueblack;
}

.navbar-default .navbar-nav > li a:hover {
  color:$green;
}

.navbar-default .navbar-nav > li:hover {
  border-bottom: 3px solid $green;
}

.navbar-default {
background: $white;
height: 100px;
border-bottom: 0px solid #eee;

}

.px-header {
  padding-top: 15px;
  background: url(image_path('home-bg-green.jpg'));
  color: $white;
  margin-bottom: 10px;
  height: $pxHeaderHeigt;
  text-align: center;
}

.px-header small{
  color: $bgwhite;
}

.content{
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    text-transform: capitalize;
    background:  rgba(0, 0, 0, 0.5);
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  background: $white;
}

span.card-title a{
  color: $white;
  font-weight: bold;
  text-decoration: none;
}

span.card-title a:hover{
  color: $gray;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
  background: $white;
  color: #999;
  font-size: 0.9em;
}
.card .card-action a {
  color: $green;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: lowercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 14px;
}
